.credit-item {
  @apply pb-11 pt-5 border-b border-solid border-slate-300;
}

.credit-item__title {
  @apply pb-6 text-purple-600;
}

.credit-description__title,
.credit-payments__title {
  @apply text-blue-500;
}

.credit-description__content {
  @apply pl-6;
}

.credit-item__description {
  width: 100%;
  @apply flex items-end pl-10 pb-6;
}

.credit-description__info {
  width: 550px;
}

.credit-description {
  width: w-full;
  @apply flex gap-x-7;
}

.credit-description__text {
  @apply w-2/5;
}

.credit-description__value {
  @apply w-3/5 text-gray-400;
}

.credit-item__payments {
  @apply pl-10;
}

.credit-payments__title {
  @apply pb-6;
}

.credit-payments__table {
  @apply w-full;
}

.credit-payments__head {
  @apply text-white bg-amber-400;
}

.credit-payments__head th {
  @apply p-1.5 text-start font-normal;
}

.button-pay-all {
  cursor: pointer;
  @apply bg-amber-400 hover:bg-amber-500;
}

.button-pay-all.no-active {
  @apply pointer-events-none bg-slate-200 pl-6 pr-6 pt-2 pb-2;
}
